@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 66% 90%;
    --foreground: 0 0% 12%; /* Preto */

    --card: 33 66% 90%;
    --card-foreground: 0 0% 12%;

    --popover: 33 66% 90%;
    --popover-foreground: 0 0% 12%;

    --primary: 31 76% 75%; /* Peach */
    --primary-foreground: 0 0% 12%;

    --secondary: 117 43% 66%; /* Mint */
    --secondary-foreground: 0 0% 12%;

    --muted: 117 20% 84%; /* Um tom mais claro do secundário */
    --muted-foreground: 117 43% 66%;

    --accent: 117 43% 66%; /* Igual ao secundário */
    --accent-foreground: 0 0% 12%;

    --destructive: 359 100% 65%;
    --destructive-foreground: 359 100% 65%;

    --border: 117 43% 66%;
    --input: 117 43% 66%; /* Mesmo tom do muted */
    --ring: 33 66% 90%; /* Igual ao background */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
